---
import { Image } from "astro:assets";

const { src, alt } = Astro.props;

interface Props {
  src: string; // Sadece @/images/... gibi bir string yol bekliyoruz
  alt: string;
}
---

<div class="shrink-0">
  <Image
    class="size-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
    src={src} {/* Astro bu string @/ yolunu kendisi çözecektir */}
    alt={alt}
    loading="lazy"
    format="avif" 
    quality={70} 
  />
</div>
